{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}<title>{%if site_title %}{{ site_title }}{% else %}Plasmidoro start page{% endif %}</title>{% endblock %}
{% block title %} <div class="logo">Deutschbauer Lab plasmids</div>{% endblock %}

{% block content %}
        <div style="background-image:url('{% static 'images/beaker.jpg' %}');background-size:cover;min-height:100vh;height:100vh;">
          <div class="box wrapper align-center" style="background-color:rgba(0,0,0,0.0)">
			<div class="container">
			  <h5>&nbsp;</h5>
			</div>
            <br/>
            <div class="inner align-center">
              <a class="button 2u 12u$(medium) align-center icon fa-sun-o" href="{% url 'plasmidslist' %}">Plasmids</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-bug" href="{% url 'strainslist' %}">Strains</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-flask" href="{% url 'magicpoolslist' %}">Magic pools</a>
              <a class="button 2u 12u$(medium) align-center icon fa-puzzle-piece" href="{% url 'partslist' %}">Magic pool parts</a>&nbsp;
              <hr/>
              <a class="button 2u 12u$(medium) align-center icon fa-repeat" href="{% url 'vectorslist' %}">Vector types</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-chain-broken" href="">RESERVED</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-chain-broken" href="">RESERVED</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-search" href="{% url 'searchform' %}">Search</a>
              <hr/>
              <a class="button 2u 12u$(medium) align-center icon fa-search" href="{% url 'nucleotidesearchform' %}">Nucleotide BLAST</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-search" href="{% url 'proteinsearchform' %}">Protein BLAST</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-book" href="https://drive.google.com/drive/u/0/folders/0B2iX2a1ua0vdfkh5Y011aVhuWVcybERkUEpXYUI3NnlYUEcwR1BNUnBHX1hJdjVzX0xrQWM?resourcekey=0-UVNHyY6k1voCBnf9vOzyzQ" target="_blank">Lab docs (GDrive)</a>&nbsp;
              <a class="button 2u 12u$(medium) align-center icon fa-info-circle" href="{% url 'about' %}">About</a>
            </div>
          </div>
        </div>
{% endblock %}
