{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>{{ site_title }}</title>{% endblock %}


{% block content %}
    <section id="one" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>{{ magicpool.name }}</h2>
        </header>
        <div class="grid-style">
          <div class="content">
            <header class="align-center">
              <p class="align-center">Description</p>
            </header>
			<h5 class="align-center">{{ magicpool.description }}</h5>
          </div>
          <div class="content">
            <header class="align-center">
              <p class="align-center">Info</p>
            </header>
			<h5 class="align-center">Antibiotic resistance: <strong>{{ magicpool.antibiotic_resistance }}</strong></h5>
			<h5 class="align-center">Vector type: <strong><a href="{% url 'vectordetails' vector_id=magicpool.vector_type.id  %}">{{ magicpool.vector_type.name }}</a></strong></h5>
			<h5 class="align-center">Strain: <strong><a href="{% url 'straindetails' strain_id=magicpool.strain.id  %}">{{ magicpool.strain.amd_number }}</a></strong></h5>
          </div>
        </div>
        <header class="align-center">
          <h2>Magic pool parts</h2>
        </header>
		{% if magic_pool_parts %}
		<div class="table-wrapper">
		  <table>
            <thead>
              <tr>
                <th>Type</th>
                <th>Part/plasmid</th>
                <th>5' overhang</th>
                <th>3' overhang</th>
              </tr>
            </thead>
			<tbody>
			  {% for item in magic_pool_parts %}
				<tr>
				  <td><a href="{% url 'partdetails' part_id=item.magic_pool_part.id  %}"><strong>{{ item.magic_pool_part.name }}</strong></a></td>
				  <td><a href="{% url 'plasmiddetails' plasmid_id=item.id  %}">{{ item.magic_pool_designation }} [{{ item.name }}/{{ item.amd_number }}]</a></td>
                  <td style="color:black;background-color:{{ item.magic_pool_part.upstream_overhang.color }}">{{ item.magic_pool_part.upstream_overhang }}</td>
                  <td style="color:black;background-color:{{ item.magic_pool_part.downstream_overhang.color }}">{{ item.magic_pool_part.downstream_overhang }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% endif %}
		
	  </div>
    </section>
{% endblock %}

