{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>{{ vector.name }}</title>{% endblock %}


{% block content %}
    <section id="one" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>{{ vector.name }}</h2>
        </header>
        <div class="grid-style">
          <div class="content">
            <header class="align-center">
              <p class="align-center">Description</p>
            </header>
			<h5 class="align-center">{{ vector.description }}</h5>
          </div>
          <div class="content">
            <header class="align-center">
              <p class="align-center">Vector info</p>
            </header>
			{% if info %}
			  {% for item in info %}
				<span>{{ item.param }}</span>
				<h5>{{ item.value }}</h5>
			  {% endfor %}
			{% endif %}
          </div>
        </div>
	{% if img %}
	<div class="content">
	    <header class="align-center">
		<img src="{{ img }}" style="background-color:white;">
            </header>
	</div>
	{% else %}
	    <header class="align-center">
		<p>No image available.</pp>
            </header>
	{% endif %}
        <header class="align-center">
          <h2>Vector parts</h2>
        </header>
		{% if vector_parts %}
		<div class="table-wrapper">
		  <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>5' overhang</th>
                <th>3' overhang</th>
              </tr>
            </thead>
			<tbody>
			  {% for item in vector_parts %}
				<tr>
				  <td><a href="{% url 'partdetails' part_id=item.part.id  %}"><strong>{{ item.part.name }}</strong></a></td>
				  <td>{{ item.part.description }}</td>
                  <td style="color:black;background-color:{{ item.part.upstream_overhang.color }}">{{ item.part.upstream_overhang }}</td>
                  <td style="color:black;background-color:{{ item.part.downstream_overhang.color }}">{{ item.part.downstream_overhang }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% endif %}
		
	  </div>
    </section>
{% endblock %}

