{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>{{ oligo.name }}</title>{% endblock %}
{% block title %}<div class="logo"><h2>Oligonucleotide</h2></div>{% endblock %}

{% block content %}
    <section id="one" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>{{ oligo.name }}</h2>
        </header>
        <div class="grid-style">
          <div class="content">
            <header class="align-center">
              <p class="align-center">Description</p>
            </header>
		<h5>{{ oligo.description }}</h5>

            <header class="align-center">
              <p class="align-center">Contact</p>
            </header>
	    {% if oligo.contact %}
		<h5>{{ oligo.contact.name }}</h5>
	    {% else %}
		<h5>No contact</h5>
	    {% endif %}
          </div>
          <div class="content">
            <header class="align-center">
              <p class="align-center">Information</p>
            </header>
		{% if info %}
		  {% for item in info %}
		    <span><strong>{{ item.param }}</strong></span>
		    <h5>{{ item.value }}</h5>
		  {% endfor %}
		{% endif %}
          </div>
        </div>
        <header class="align-center">
          <h2>Sequence</h2>
        </header>
	<textarea rows="8" cols="50">{{ oligo.sequence }}</textarea>
      </div>
    </section>
{% endblock %}

