{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>{{ part.name }}</title>{% endblock %}
{% block title %}<div class="logo"><h2>Magic pool part</h2></div>{% endblock %}

{% block content %}
    <section id="one" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>{{ part.name }}</h2>
        </header>
        <div class="grid-style">
          <div class="content">
            <header class="align-center">
              <p class="align-center">Description</p>
            </header>
			<h5>{{ part.description }}</h5>
          </div>
          <div class="content">
            <header class="align-center">
              <p class="align-center">Overhangs</p>
            </header>
			<h5 class="align-center" style="color:black;background-color:{{ part.upstream_overhang.color }}">{{ part.upstream_overhang.name }}</h5>
			<h5 class="align-center" style="color:black;background-color:{{ part.downstream_overhang.color }}">{{ part.downstream_overhang.name }}</h5>
          </div>
        </div>
        <header class="align-center">
          <h2>Information</h2>
        </header>
		{% if info %}
		<div class="table-wrapper">
		  <table>
			<tbody>
			  {% for item in info %}
				<tr>
				  <td><strong>{{ item.name }}</strong></td>
				  <td>{{ item.description }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% endif %}
		
		{% if vectors %}
        <header class="align-center">
          <h2>Vectors utilizing this part</h2>
        </header>
		<div class="table-wrapper">
		  <table>
			<tbody>
			  {% for item in vectors %}
				<tr>
				  <td><a href="{% url 'vectordetails' vector_id=item.id  %}"><strong>{{ item.name }}</strong></a></td>
				  <td>{{ item.description }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% endif %}

	<hr>

		{% if plasmids %}
        <header class="align-center">
          <h2>Plasmids with this part</h2>
        </header>
		<div class="table-wrapper">
		  <table>
            <thead>
              <tr>
                <th>Plasmid</th>
                <th>Designation</th>
                <th>Size</th>
                <th>Description</th>
              </tr>
            </thead>
			<tbody>
			  {% for item in plasmids %}
				<tr>
				  <td><a href="{% url 'plasmiddetails' plasmid_id=item.id  %}">{{ item.name }}</a></td>
				  <td>{{ item.magic_pool_designation }}</td>
				  <td>{{ item.sequence|length }}</td>
				  <td>{{ item.description }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% endif %}
		</div>
    </section>
{% endblock %}

