{% extends "base_generic.html" %}
{% load static %}
{% load my_tags %}
{% block page-title %}<title>Magic pool parts</title>{% endblock %}
{% block script-header %}
{% endblock %}


{% block title %}<div class="logo"><h2>Magic pool parts</h2></div>{% endblock %}
{% block content %}
    <section id="two" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          {% if searchcontext %}
            <h4>{{ itemlist|length }} results for: {{ searchcontext }}</h4>
          {% else %}
            <form action="{% url 'textsearch' %}" method="get">
              <input name="query" type="text" placeholder="Quick search by name or description...">
              <input type="hidden" name="type" id="type" value="part">
            </form>
          {% endif %}
          {% if external %}
            <p><a href="{{ external }}">External link</a></p>
          {% endif %}
        </header>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>5' overhang</th>
                <th>3' overhang</th>
              </tr>
            </thead>
            <tbody>
              {% for item in itemlist %}
                <tr>
                  <td><a href="{% url 'partdetails' part_id=item.id  %}">{{ item.name }}</a></td>
                  <td>{{ item.description }}</td>
                  <td style="color:black;background-color:{{ item.upstream_overhang.color }}">{{ item.upstream_overhang }}</td>
                  <td style="color:black;background-color:{{ item.downstream_overhang.color }}">{{ item.downstream_overhang }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if is_paginated %}
          <div>
            <span>
              {% if page_obj.has_previous %}
                <a class="button small" href="?{% param_replace page=1 %}">First</a>
                {% if page_obj.previous_page_number != 1 %}
                  <a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
               {% endif %}
              {% endif %}
              Page {{ page_obj.number }} of {{ paginator.num_pages }}
              {% if page_obj.has_next %}
                {% if page_obj.next_page_number != paginator.num_pages %}
                  <a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                {% endif %}
                <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
              {% endif %}
              <span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
            </span>
          </div>
        {% endif %}
      </div>
    </section>
{% endblock %}
