{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>{{ vector.name }}</title>{% endblock %}

{% block title %}<div class="logo"><h2>Vector design</h2></div>{% endblock %}

{% block content %}
    <section id="one" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>{{ vector.name }}</h2>
        </header>
        <div class="grid-style">
          <div class="content">
            <header class="align-center">
              <p class="align-center">Description</p>
            </header>
			<h5 class="align-center">{{ vector.description }}</h5>
          </div>
          <div class="content">
            <header class="align-center">
              <p class="align-center">Vector info</p>
            </header>
			{% if info %}
			  {% for item in info %}
				<span>{{ item.param }}</span>
				<h5>{{ item.value }}</h5>
			  {% endfor %}
			{% endif %}
          </div>
        </div>
	{% if img %}
	<div class="content">
	    <header class="align-center">
		<img src="{{ img }}" style="background-color:white;">
            </header>
	</div>
	{% else %}
	    <header class="align-center">
		<p>No image available.</pp>
            </header>
	{% endif %}
        <header class="align-center">
          <h2>Design parts</h2>
        </header>
		{% if vector_parts %}
		<div class="table-wrapper">
		  <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>5' overhang</th>
                <th>3' overhang</th>
              </tr>
            </thead>
			<tbody>
			  {% for item in vector_parts %}
				<tr>
				  <td><a href="{% url 'partdetails' part_id=item.part_type.id  %}"><strong>{{ item.part_type.name }}</strong></a></td>
				  <td>{{ item.part_type.description }}</td>
                  <td style="color:black;background-color:{{ item.part_type.upstream_overhang.color }}">{{ item.part_type.upstream_overhang }}</td>
                  <td style="color:black;background-color:{{ item.part_type.downstream_overhang.color }}">{{ item.part_type.downstream_overhang }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% endif %}
	<hr>
        <header class="align-center">
          <h2>Magic pools</h2>
        </header>
		{% if magic_pools %}
		<div class="table-wrapper">
		  <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Antibiotic resistance</th>
              </tr>
            </thead>
			<tbody>
			  {% for item in magic_pools %}
				<tr>
                  <td><a href="{% url 'magicpooldetails' magicpool_id=item.id  %}">{{ item.name }}</a></td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.antibiotic_resistance }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% else %}
		<h5 class="align-center">No magic pools</h5>
		{% endif %}
	<hr>
        <header class="align-center">
          <h2>Availalbe plasmids <a href="{% url 'export' %}?return=plasmids&type=vector_id&query={{ vector.id }}">[export tsv]</a></h2>
        </header>
		{% if plasmids %}
		<div class="table-wrapper">
		  <table>
            <thead>
              <tr>
                <th>Plasmid</th>
                <th>AMD number</th>
                <th>Designation</th>
                <th>Magic pool part</th>
                <th>Description</th>
              </tr>
            </thead>
			<tbody>
			  {% for item in plasmids %}
				<tr>
                  <td><a href="{% url 'plasmiddetails' plasmid_id=item.id  %}">{{ item.name }}</a></td>
                  <td>{{ item.amd_number }}</td>
                  <td>{{ item.magic_pool_designation }}</td>
				{% if item.magic_pool_part %}
                  <td>{{ item.magic_pool_part.name }}</td>
		        {% else %}
				  <td></td>
		        {% endif %}
                  <td>{{ item.description }}</td>
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{% endif %}

	  </div>
    </section>
{% endblock %}

